<div class="container">
  <br />
  <h2 class="text-center font-weight-bold">Speakers and Syllabus</h2>
  <hr />
  <div class="container text-justify" style="font-size:18px">
    This Teachers’ Enrichment Workshop (TEW) is aimed primarily at mathematics teachers at the undergraduate and
    postgraduate levels. While research scholars in mathematics may also apply, they will have lower preference in
    selection. The sessions will be geared towards improving the understanding of the fundamental concepts and results
    in Linear Algebra and Multivariable Calculus, two subjects that are basic to mathematics and science. The workshop
    will be an intensive one and only those who are willing to actively participate and get their hands dirty by
    solving problems need apply.
  </div>
  <br />
  <hr />
  <br />
  <table class="table-hover table table-dark table-bordered-bd-primary">
      <tbody>
      <tr>
      <td><strong>Speaker</strong></td>
      <td><strong>Affiliation</strong></td>
      <td><strong>Topic(s)</strong></td>
      <td><strong>Number of lecture hours</strong></td>
      <td><strong>Number of tutorial hours</strong></td>
      <td><strong>Details</strong></td>
      </tr>
      <tr>
      <td>Anirban Mukhopadhyay</td>
      <td>IMSc, Chennai</td>
      <td>Linear Algebra and MVC</td>
      <td>10.5</td>
      <td>2 (conduct) + 2 (assist)</td>
      <td>The aim will be to highlight the unifying theme behind the fundamental theorem of calculus, Green’s theorem, and Guass’ divergence theorem. Stokes’ theorem (for R<sup>n</sup> )will be presented as a culminating point of this string of results. Will&nbsp; take the shortest possible path to give a self contained proof of Stokes’ theorem largely following Principles of Mathematical analysis by W. Rudin.</td>
      </tr>
      <tr>
      <td>K.N. Raghavan</td>
      <td>IMSc, Chennai</td>
      <td>Linear Algebra</td>
      <td>10.5</td>
      <td>2 (conduct) + 2 (assist)</td>
      <td>The emphasis will be on matrices,not on the more abstract notion of linear transformations. Should the situation demand it, some of the topics shall be partially or fully skipped. I will follow the notes on the web page <br>https://www.imsc.res.in/~knr/past/linalg_ed.pdf,&nbsp; which themselves are based on Gilbert Strang’s book Introduction to Linear Algebra.
      <ul>
      <li>Why is row rank equal to column rank? RREF (row reduced echelon form) of a matrix, its properties.</li>
      <li>Solving linear equations: geometry of the solution space.</li>
      <li>Notion of orthogonal projection: application to the line of best fit (approximate solution to an overdetermined system).</li>
      <li>Determinant and volume; Eigenvalues and eigenvectors; characteristic and minimal polynomials; Cayley-Hamilton theorem (possibly without proof)</li>
      <li>Spectral theorem for a real symmetric matrix: applications</li>
      <li>Singular value decomposition: applications</li>
      </ul>
      </td>
      </tr>
      <tr>
      <td>S Sundar</td>
      <td>IMSc, Chennai</td>
      <td>Multivariable Calculus</td>
      <td>6</td>
      <td>2 (conduct) + 2 (assist)</td>
      <td>
      <ul>
      <li>Derivative as a linear map; examples; computing the derivative in terms of partial derivatives.</li>
      <li>Taylor’s theorem up to second order and applications to maxima-minima.</li>
      <li>Inverse function theorem with proof.</li>
      <li>Lagrange multiplier method with some examples.</li>
      </ul>
      </td>
      </tr>
      </tbody>
      </table>
</div>
