<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarToggle" aria-controls="navBarToggle"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="http://www.mepcoeng.ac.in">MSEC - Sivakasi</a>
  <div class="collapse navbar-collapse float-right" id="navBarToggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="nav nav-line nav-color-secondary">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Login</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
<div class="container" style="margin-top:50px">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center">Mepco Schlenk Engineering College (Autonomous), Sivakasi</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd" id="v-pills-tab-without-border" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab-nobd" data-toggle="pill" href="#v-pills-home-nobd" role="tab"
              aria-controls="v-pills-home-nobd" aria-selected="false">About The College</a>
            <a class="nav-link" id="v-pills-profile-tab-nobd" data-toggle="pill" href="#v-pills-profile-nobd" role="tab"
              aria-controls="v-pills-profile-nobd" aria-selected="false">Department of Mathematics</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-without-border-tabContent">
            <div class="tab-pane fadeInUp active show" id="v-pills-home-nobd" role="tabpanel" aria-labelledby="v-pills-home-tab-nobd">
              Mepco Schlenk Engineering College, Sivakasi is an ISO 9001:2015 certified, NACC accredited with 3.14 on a
              four point scale at “A” grade and an Autonomous Institution affiliated to Anna University, Chennai. The
              college was established in the year 1984 by Mepco Schlenk Charities founded by The Metal Powder Company
              Ltd., Tirumangalam, Madurai. The college is known for its excellence in infrastructure, teaching and
              research activities. The Institute offers 7 UG programs,which are accredited by NBA under Tier I category
              and 9 PG thprograms. The college has been sanctioned with 115 sponsored research projects worth of 13.00
              crores. The College got 5 rank at National level in Top Engineering Colleges of th Eminence category in
              the CSR-GHRDC Engineering Colleges Survey June 2017 and 29 Rank among National Level Engineering Colleges
              including IITs, NITs, by Outlook Survey, June 2018.
            </div>
            <div class="tab-pane fadeInUp" id="v-pills-profile-nobd" role="tabpanel" aria-labelledby="v-pills-profile-tab-nobd">
              The Department of Mathematics has striven to set high standards in teaching, right from the beginning by
              well-qualified faculty of fourteen members with eight Ph.D.'s and five members pursuing Ph.D. The
              department is currently having DST – SERB, NBHM funded projects. The department conducted many FDPs,
              STTPs, Workshops and Conferences
              Speakers
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
