<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2 class="active"> SIGN IN </h2>
		<br><br>
		<!-- Login Form -->
		<form>
			<input type="email" id="login" class="fadeIn second" name="email" placeholder="Your Email">
			<input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
			<input type="submit" class="fadeIn fourth" value="Log In">
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<a class="nav-link underlineHover" [routerLink]="['/changePassword']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Change Password ?</a>
		</div>

	</div>
</div>