<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> CHANGE PASSWORD </h2>
    <br><br>
    <!-- Login Form -->
    <form>
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Your Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Old Password">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="New Password">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Confirm New Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="nav-link underlineHover" [routerLink]="['/login']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Sign in</a>

    </div>

  </div>
</div>